.outer-container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.main {
  display: flex;
  height: 100%;
}

.y-axis {
  display: flex;
  justify-content: flex-end;
  height: 90%;
  width: 10%;
}

.label-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 0;
}

.label {
  flex-grow: 1;
  border-top: 2px solid black;
}

.graph {
  display: flex;
  flex-direction: column;
  flex-grow: 9;
}

.graph-border {
  flex-grow: 9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-end;
  background: lightgray;
  border: 2px solid black;
}

.graph-bar {
  position: relative;
  box-shadow: 0.1em 0em 0.2em black;
}

.graph-bar-inner {
  position: absolute;
  width: 100%;
}

.graph-bar-label {
  position: absolute;
  left: 50%;
  padding: 0.1em;
  text-align: center;
  border: 0.05em solid black;
  border-radius: 10%;
  box-shadow: 0.1em 0.05em 0.2em black;
}

.x-axis {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}

.label-value {
  flex-grow: 1;
  text-align: center;
}
